* {
  box-sizing: border-box;
  margin: 0;
}
body {
  line-height: 1.5;
  font-size: 0.875rem;
  background-color: #151320;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  background: #FFFFFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: hsl(205, 78%, 60%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  float: right;
}
.nav-toggle:hover {
  color: hsl(205, 86%, 17%);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: hsl(209, 34%, 30%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  background: hsl(205, 86%, 81%);
  color: hsl(205, 78%, 60%);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: hsl(205, 78%, 60%);
    transition: all 0.3s linear;
  }
  #facebook:hover {
    color: #4267B2
  }
  #twitter:hover {
      color: #00acee;
    }
  #linkedin:hover {
      color: #0077b5;
  }
  #instagram:hover {
      color: #8a3ab9;
  }
  #github :hover {
      color:#333;
  }
}

/*modal css*/
.container {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 4rem 0;
  color: rgb(20,193,203);
}
.modal-btn{
  margin-top: 2rem;
  background-color: transparent;
  border: 1px rgb(20,193,203) solid;
  color: rgb(20,193,203);;
  border-radius: 10px;
  font-size: 1rem;
}
.modal-btn:hover {
  background-color: rgb(20,193,203);
  color: #151320;
}

.modal {
  display: grid;
  place-items: center;
  position: relative;
}
.modal-container {
  visibility: hidden;
  z-index: -1;
  background-color: rgb(20,193,203);;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 50%;
  text-align: center;
}
.show-modal {
  visibility: visible;
  z-index: 1;
}
.modal-content {
  font-size: 1.5rem;
  padding-top: 20px;
  color:#151320;
  padding-bottom: 20px;
}
 .close-btn{
   color: #151320;
   font-size: 1rem;
   background-color: transparent;
   top: 1rem;
   right: 1rem;
   border: none;
   position: absolute;
 }
 .close-btn:hover{
   color: red;
 }
 @media screen and (max-width: 700px) {
  .modal-container {
      width: 95%;
  }
}