* {
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration:none;
    color: red;
}
body{
    background-color: #151320 ;
}
.container{
    width:90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}
.form-horizontal{
    width:420px;
    background-color:rgb(20,193,203);;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 2px 2px 15px black;
    text-align: center;
    color: #151320;
}
#git{

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

#linkedin{

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

#facebook{

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

#google{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;   
}
#git:hover{
    color:#333;
    cursor: pointer;
}

#linkedin:hover{
    color: #0077b5;
    cursor: pointer;
}

#facebook:hover{
    color: #4267B2;
    cursor:pointer;
}

#google:hover{
   color: #4285F4;
   cursor: pointer;
}
p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}
.input-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
}
.input-box{
    font-size: 18px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
form .input-wrapper .field-password
{
    position: relative;
    display: inline-block;
    width: 362px;
}
form .input-wrapper .field-password .showBtn{
    position: absolute;
    right:10px;
    top:56%;
    transform: translateY(-50%);
    cursor:pointer;
    font-size: 15px;
    font-weight: 600;
    display: none;
    color: darkblue;
}
form .input-wrapper .indicator{
    height:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    display:none;
}
form .input-wrapper .indicator span{
    width:100%;
    height: 100%;
    background: lightgrey;
    border-radius: 5px;
    position: relative;
}
form .input-wrapper .indicator span.medium
{
    margin: 0 3px;
}
form .input-wrapper .indicator span:before{
    content: ' ';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    border-radius: 5px;
}
form .input-wrapper .indicator span.active.weak:before{
    background-color: #ff4757;
}
form .input-wrapper .indicator span.active.medium:before{
    background-color:orange;
}
form .input-wrapper .indicator span.active.strong:before{
    background-color: green;
}
form .input-wrapper .text{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -10px;
}
form .input-wrapper .text.weak{
    color:#ff4757
}
form .input-wrapper .text.medium{
    color:orange;
}
form .input-wrapper .text.strong{
    color:green;
}

#btn-submit{
    background-color: #151320;
    padding-top: 12px;
    margin-top: 20px;
    padding-bottom: 12px;
    padding-left:12px ;
    padding-right:12px ;
    font-size: 18px;
    color: rgb(20,193,203);
    border: none;
}
#btn-submit:hover{
    cursor: pointer;
    color: white;
    background-color: darkblue;
}
h3{
    font-size: 16px;
    margin-top: 10px;
}
h3 a:hover{
    cursor: pointer;
    color: darkblue;
}

@media screen and (min-width:300px) and (max-width:349px) {
    .container{
        padding-top: 100px;
    }
   /* form .input-wrapper .field-password .showBtn{
        right:72px;
        top:77.5%;
    }*/
}
@media screen and (max-width:750px) {
    form .input-wrapper .field-password{
        width: 100%;
    }
}
/*@media screen and (min-width:350px) and (max-width:399px) {
    form .input-wrapper .field-password .showBtn{
        right:74px;
        top:65.5%;
    }
}
@media screen and (min-width:374px) and (max-width:380px) {
    form .input-wrapper .field-password .showBtn{
        right:74px;
        top:62.2%;
    }
}
@media screen and (min-width:400px) and (max-width:449px){
    form .input-wrapper .field-password .showBtn{
        right:77px;
        top:63%;
    }
}
@media screen and (min-width:500px) and (max-width:550px){
    form .input-wrapper .field-password .showBtn{
        right:104px;
        top:63.5%;
    }
}
@media screen and (min-width:750px) and (max-width:799px){
    form .input-wrapper .field-password .showBtn{
        right:230px;
        top:60%;
    }
}
@media screen and (min-width:1000px) and (max-width:1050px){
    form .input-wrapper .field-password .showBtn{
        right:370px;
        top:57.5%;
    }
}
@media screen and (min-height:665px) and (max-height:670px){
    form .input-wrapper .field-password .showBtn{
        right:73px;
        top:65%;
    }
}*/